/* start variables */
:root{--main-color:#10cab7;}
:root{--main-padding:60px;}
:root{--secondary-color: #2c4755;}
:root{--section-background: #f6f6f6;}
/* end variables */
/* start global rules */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", serif;
}
html{
    scroll-behavior: smooth;
}
.special-heading{
    font-size: 102px;
    font-weight: 800;
    text-align: center;
    color: #edeced;
    letter-spacing: -7px;
}
.special-heading + p{
    font-size: 20px;
    text-align: center;
    margin-top: -28px;
    color: #797979;
}
/* small */
@media (max-width:750px){
    .special-heading{
        font-size: 85px;
    }
    .special-heading + p{
        font-size: 18px;
    }
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left:20px;
    padding-right:20px;
}
/* small */
@media (min-width:750px){
    .container{
        width: 750px;
    }
}
/* mediam */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* end global rules */
/* start header */ 
.header{
    padding: 20px 0;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .container .logo{
    width: 60px;
}
.header .container .logo img{
    width: 100%;
}
.header .container .links{
    position: relative;
    width: 34px;
}
.header .container .links .icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .container .links .icon span{
    height: 2px;
    width: 100%;
    margin: 3px;
    background-color: black;
    display: block;
}
/* .header .container .links:hover .icon span:nth-child(2){
    width: 100%;
} */
.links .active{
display: block !important;
}
.header .container .links .icon span:nth-child(2){
    width:50% ;
    text-align:right;
    transition: 0.3s;
}
.header .container .links .nav{
    list-style: none;
    position: absolute;
    right: 0px;
    top: 40px;
    display: none;
    background-color: #eee;
}

.header .container .links .nav li a{
    padding: 15px 120px 13px 15px;
    display: block;

}
.header .container .links .nav li:not(:last-child) {
    border-bottom: 2px solid #ddd;
}
.header .container .links .nav::before{
    content: "";
    position: absolute;
    top: -32px;
    width: 0px;
    height: 0px;
    border: 16px solid black;
    border-color: transparent transparent #eee transparent;
    right: 0px;
}
.header .container .links ul li a{
    text-decoration: none;
    color: black;
    transition:0.5s;
    left: 0px;
    position: relative;
}
.header .container .links ul li:hover a{
    text-decoration: none;
    left: 10px;
}
.scroller{
background: linear-gradient(90deg, #7dbeb8, #10cab7);  width: 0;
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
/* end header */ 
/* start landing */
.landing{
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-position: center;
    height:calc(100vh - 68px);
}
.landing .content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 300px;
}
.landing h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing p{
    font-size: 19px;
    line-height: 1.8;
}
/* end landing */
/* start features */
.features{
    padding: var(--main-padding) 0;
    background-color: var(--section-background);
}
.features .container{
    display: flex;
   justify-content: space-around;
    align-items: center;
}
/* mediam */
@media (max-width:992px){
    .features .container{
        flex-wrap: wrap;
    }
    }
.features .container .box{
    text-align: center;
    width: 260px;
    margin-bottom: 25px;
}
.features .container .box h3{
    font-weight: 800;
    margin: 30px 0;
}
.features .container .box p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
.features .container .box i{
    color: var(--main-color);
}
/* end features */
/* start service */
.services .container .services-content{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.services .container .services-content .srv{
    margin-bottom: 45px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.services .container .services-content .srv i{ 
    flex-basis: 20%;
    color: var(--main-color);
    margin-bottom: 25px;
}
.services .container .services-content .srv .text{ 
    flex: 1;
}
.services .container .services-content .srv .text h3{ 
    margin-bottom: 20px;

}
.services .container .services-content .srv .text p{ 
    color: #444;
    font-weight: 300;
    line-height: 1.6;}
.services .container .services-content .image{ 
    position: relative;
}
/* large */
@media (max-width:1200px){
    .services .container .services-content .image::before{ 
        display: none;
    }
}
/* small */
@media (max-width:750px){
    .services .container .services-content .srv { 
        display: block;
        text-align: center;
    }
}
.services .container .services-content .image::before{ 
    position: absolute;
    content:"";
    width:25%;
    height:calc(100% + 100px);
    top: -50px;
    right:0;
    background-color:var(--secondary-color);
}
.services .container .services-content .image img{ 
    width: 260px;
    height:100%;
    right: 50px;
    position: absolute;
}
/* end service */
/* start portfolio */
.portfolio {
    background-color: var(--section-background);
    padding: var(--main-padding) 0;
}
.portfolio .container .content{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .container .content .box img{
    width:100%;
}
.portfolio .container .content .box .text{
    padding:20px;
    background-color: #fff;
}
.portfolio .container .content .box .text h3{
    padding-bottom: 15px;
}
.portfolio .container .content .box .text p{
    line-height: 1.4;
    color: #666;
}
/* end portfolio */
/* start about */
.about{
    padding: var(--main-padding) 0;
}
.about .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--main-padding); 
}
@media (max-width:992px){
    .about .content{
        flex-direction: column;
        text-align: center;
    }
    .about .content .image::before{
        display: none;
    }
    .about .content .image::after{
        display: none;
    }
    .about .content .image{
        flex-basis: 20%;
        width:250px;
        height: 375px;
        position: relative;
        top: 0;
        right: 0;
        margin: 0 auto 60px auto;
    }
    }
.about .content .text{
    flex-basis:calc(100% - 500px);
}
.about .content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .content .text p:last-of-type{
    line-height: 2;
    padding: 20px 0;
    color: #777;
}
.about .content .text hr{
    width: 372px;
    display: inline-block;
    height: 1px;
    background: var(--main-color);
}
.about .content .image{
    flex-basis: 20%;
    width:250px;
    height: 375px;
    position: relative;
    top: 0;
    right: 0;
}
.about .content .image::before{
    content: "";
    position: absolute;
    width: 75px;
    height: 266px;
    top: -40px;
    right: -117px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -2;
}
.about .content .image::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 420px;
    top: -40px;
    left: -16px;
    z-index: -2;
    background-color:#ebeced;
}
.about .content .image{
    flex-basis: 20%;
    width:250px;
    height: 375px;
}
.about .content .image img{
    width: 100%;
}
/* end about */
/* start Contact */
.contact{
    background-color: var(--section-background);
}
.contact .content{
    padding:100px 0;
}
.contact .content h2{
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
    color: var(--secondary-color);
    width: fit-content;
    margin: auto;
}
.contact .content .emal{
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
    color: var(--main-color);
    padding: 20px 0;
    display: block;
    width: fit-content;
    margin: auto;
}
/* small */
@media (max-width:750px){
    .contact .content a{
        font-size: 25px;
    }
    .contact .content h2{
        font-size: 25px;
    }
}
.contact .content .social{
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
}
.contact .content .social a{
    margin-left: 10px;
    cursor: pointer;
    color: #3a3a3a;
    }
/* end Contact */
/* start footer */
.footer{
    text-align: center;
    padding: 40px 0;
    background-color: var(--secondary-color);
}
.footer P{
    color: #fff;
    font-size: 20px;
}
.footer P .name{
    color: var(--main-color);
}

/* end footer */
